
header {

    background-color: #EAC926;

}

body {
    font-family: Roboto, sans-serif;
    margin:auto;
}

article p.precio {
    font-size: 18px;

}
article p.descuento {
    font-size: 16px;

}
article p.descripcion {
    font-size: 16px;
}
.responsive {
    width: 100%;
    height: auto;
  }

.responsive-logo {
    width: 200px;
    height: auto;
    position: center;
}

.burger-menu {
    background-color: darkblue;
    border: 2px solid darkblue;
    border-radius: 5px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    width: 15px;
    margin: auto;
   /* width: 50%; */
    padding: 10px;

}

.article-footer {
    color: #666;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 17x;
    margin: 10px;
}

.article-copyright {
    color: #666;
    font-size: 10px;
}